.div {
  position: relative;
  width: 230px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.btn {
  position: absolute;
  right: 0;
  top: 10px;
  bottom: 0;
  width: auto;
  height: 25px;
  border: 1px solid black;
}
.btn:hover,
.btn:focus-visible,
.btn:active {
  background-color: #dfdfdf;
}
.p {
  display: flex;
  gap: 8px;
  align-items: center;
}
